.Home_align__2esRt {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: auto;
    -webkit-animation: Home_fadein__2BuUA 2s;
    animation: Home_fadein__2BuUA 2s;
    overflow-x: hidden
}

@-webkit-keyframes Home_fadein__2BuUA {
    0% {
        margin-top: 2rem;
        opacity: 0
    }

    to {
        margin-top: 0;
        opacity: 1
    }
}

@keyframes Home_fadein__2BuUA {
    0% {
        margin-top: 2rem;
        opacity: 0
    }

    to {
        margin-top: 0;
        opacity: 1
    }
}

.Home_container__1EcsU {
    overflow-x: hidden !important;
    margin-top: 13rem;
    margin-bottom: 2rem;
    background-color: #1f1f1f;
    width: 49.4rem;
    -webkit-box-shadow: 0 4px 12px rgb(27, 24, 31, .6);
    box-shadow: 0 4px 12px rgb(27, 24, 31, .6)
}

.Home_banner__1sicB {
    width: 790px;
    height: 316px;
    border-radius: .2rem;
    position: absolute;
    z-index: 1
}

.Home_on_banner__1fQvk {
    position: absolute;
    z-index: 2;
    width: 790px;
    height: 316px
}

@media screen and (max-width:840px) {

    .Home_banner__1sicB,
    .Home_container__1EcsU,
    .Home_on_banner__1fQvk {
        width: 90vw
    }
}

.Home_me__2Qmj3 {
    position: relative;
    z-index: 3;
    margin-top: 5rem;
    display: -webkit-flex;
    display: flex
}

.Home_profilepicture__3n9_o {
    height: 8.64rem;
    border-radius: .8rem;
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
    padding: .4rem;
    position: absolute;
    left: 1rem
}

.Home_badges__2gX7c {
    display: -webkit-flex;
    display: flex;
    max-width: 80vw;
    margin: auto auto auto .5rem;
    position: absolute;
    left: 10.9rem;
    top: 6.1rem
}

.Home_badge__3xeDw {
    background-color: #27272a;
    border-radius: 0.2rem;
    margin: 0.2rem 0.7rem 0.2rem 0;
    padding: 0.3rem 0.5rem 1.66rem;
    display: -webkit-flex;
    display: flex;
    font-size: 1.2rem;
    max-height: 1.9rem;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    position: relative;
    bottom: 0;
}

.Home_badge__3xeDw:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.Home_badge__3xeDw>svg {
    color: #525ee5;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.Home_badge__3xeDw:hover>svg {
    color: #5361fd
}

.Home_content__2fqOz {
    margin: 4.6rem 1rem 1rem
}

@media screen and (max-width:700px) {
    .Home_container__1EcsU {
        margin-top: 8rem
    }

    .Home_banner__1sicB,
    .Home_on_banner__1fQvk {
        height: 11rem
    }

    .Home_me__2Qmj3 {
        margin-top: 1rem
    }
}

.Home_readme__S87Zm {
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: #27272a;
    padding: .8rem .8rem .8rem .4rem;
    border-radius: .2rem;
    font-size: 1.09rem;
    margin-bottom: 1rem
}

.Home_section__16Giz {
    margin-top: 1.6rem
}

.Home_icon__3QFgh {
    position: absolute;
    height: 5rem;
    right: -.4rem;
    top: -.4rem;
    border-radius: .4rem;
    background-color: #0f0d10;
    -webkit-box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, .15);
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, .15)
}

.Home_error__2G27F {
    z-index: 1000;
    font-size: 1.2rem;
    color: #ff3e5e;
    background-color: rgba(72, 36, 51, .8);
    border-radius: .2rem;
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    padding: .8rem 1.6rem;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

@media screen and (max-width:540px) {
    .Home_container__1EcsU {
        margin-top: 5rem;
        width: 100vw;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-bottom: 0
    }

    .Home_banner__1sicB,
    .Home_on_banner__1fQvk {
        width: 100vw
    }

    .Home_content__2fqOz {
        margin-top: 7.6rem
    }

    .Home_name__3fbfx {
        position: relative;
        top: 3rem
    }

    .Home_badges__2gX7c {
        left: 1rem;
        top: 9.66rem
    }

    .Home_icon__3QFgh {
        height: 2.9rem;
        border-radius: .3rem;
        right: -.2rem;
        top: -.2rem
    }

    .Home_error__2G27F {
        right: 0;
        top: 0;
        bottom: unset;
        background-color: #63273e
    }
}

.Home_fadeout__2jQec {
    -webkit-animation: Home_fadeout__2jQec 1s;
    animation: Home_fadeout__2jQec 1s
}

@-webkit-keyframes Home_fadeout__2jQec {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes Home_fadeout__2jQec {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.statuss {
    position: relative;
    font-weight: 400;
    color: rgb(175, 175, 175);
    bottom: -15px;
}

@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);

body,
html {
    font-family: 'Ubuntu', sans-serif;
    background: #141416;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    color: #ddd9e6;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: overlay;
    overflow-x: hidden !important;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

br,
img {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

::-moz-selection {
    background-color: #675b75
}

::selection {
    background-color: #675b75
}

body {
    margin: 0
}

a {
    all: unset
}

.link {
    color: #f00909;
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.izmir {
    cursor: pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.izmir:hover {
    color: #a3bfd4
}

.link:hover {
    text-shadow: 0 0 9px #f0090998, 0 0 9px #f00909ab;
    color: #f00909
}

::-webkit-scrollbar {
    width: .5rem
}

::-webkit-scrollbar-thumb {
    background-color: #201c25
}

::-webkit-scrollbar-thumb:hover {
    background-color: #141116
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit
}

.button {
    cursor: pointer;
    background-color: #2d2833;
    padding: .43rem .8rem;
    border-radius: .2rem;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    color: #f0f0f0;
    font-size: 1.2rem;
    display: -webkit-flex;
    display: flex
}

.button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background-color: #39333f
}

.madelove {
    z-index: 3;
    font-size: .9rem;
    color: #a9aec0;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
    -webkit-animation: laodin-credits 2s;
    animation: laodin-credits 2s;
    overflow: hidden !important
}

@-webkit-keyframes laodin-credits {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes laodin-credits {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.love {
    text-shadow: 0 0 9px rgba(255, 0, 0, 0.328), 0 0 9px rgba(255, 0, 0, 0.328);
    color: red
}

@-webkit-keyframes rainbow {
    0% {
        color: #a9aec0
    }

    22% {
        color: #d15a97
    }

    44% {
        color: #d13853
    }

    66% {
        color: #6c43d4
    }

    88% {
        color: #378ed4
    }

    to {
        color: #a9aec0
    }
}

@keyframes rainbow {
    0% {
        color: #a9aec0
    }

    22% {
        color: #d15a97
    }

    44% {
        color: #d13853
    }

    66% {
        color: #6c43d4
    }

    88% {
        color: #378ed4
    }

    to {
        color: #a9aec0
    }
}

@media screen and (max-width:1120px) {
    .madelove {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        right: -3.6rem;
        bottom: 5rem
    }
}

@media screen and (max-width:540px) {
    .madelove {
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        height: 2rem;
        background-color: #141116;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin-right: 3rem
    }

    .madelove>a {
        padding-top: .34rem
    }
}

@media screen and (max-width:540px) {
    .header {
        display: none
    }
}

ul {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    margin: .7rem
}

li {
    position: relative;
    right: 1.1rem;
    margin-right: 1rem
}

@-webkit-keyframes laodin-buttons {
    0% {
        right: -20rem
    }

    to {
        right: .2rem
    }
}

@keyframes laodin-buttons {
    0% {
        right: -20rem
    }

    to {
        right: .2rem
    }
}

.header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    z-index: 999;
    padding: 0.08rem;
    overflow: hidden !important;
    background: #181818;
}

.efe {
    color: #ffffff;
    margin-top: 0.13rem;
    margin-left: 12px;
    font-size: 29px;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
}

.header-button {
    cursor: pointer;
    background-color: #27272a;
    padding: 0.43rem 0.8rem;
    border-radius: 0.2rem;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    color: #f0f0f0;
    font-size: 1.2rem;
    display: -webkit-flex;
    display: flex;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.position-button {
    margin: 0;
    position: absolute;
    right: 0.2rem;
    -webkit-animation: laodin-buttons 2s;
    animation: laodin-buttons 2s;
}

.githubs-title {
    font-size: 25px;
    font-weight: 600;
}

.github-title {
    font-size: 22px;
    font-weight: 500;
}

.github {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
    transition: .2s;
    margin: 8px 0;
    transform: scale(1);
    cursor: pointer
}

.github-card {
    border-radius: 5px;
    transition: .2s;
}

.github-card:hover {
    transform: scale(1.03);
    background-color: #1f1f1f;
    color: unset
}

.github-left {
    display: inline-block;
    float: left;
}

.github-right {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    float: right;
}

.github-right-img {
    opacity: 0.3;
    padding: 20px 0px;
}

.github-right-img-border-radius {
    border-radius: 999%;
}

.navbar-brand-text,
.switch-mode-btn,
.head-name,
.head-description,
#statusContent,
.projects-title,
.project-title,
.githubs-title,
.contacts-title,
.contact-title,
.github-title,
.footer-text,
#modal_shift_key,
#modal_k_key,
#modal_github_btn,
.modal_tech_names,
.command-palette-btn,
#date,
#cat {
    position: center;
    color: #fff
}

.switch-mode-btn:hover,
.navbar-brand-text:hover,
.footer-text:hover {
    color: #fff !important
}

.github-description,
.github-sdescription,
.project-sdescription,
.project-description,
.contact-sdescription {
    color: rgba(140, 149, 156, 1);
}